body{
    color: white;
    font-size:15px;
    overflow-x: hidden;
}

.headerBody{
    background-image: url(pics/header-image/1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}
.leftHeader{
    display: flex;
    align-items: center;
    padding-left: 1%;
}
.rightHeader{
    padding-right: 1%;
}

.navbarLeft{
    display: flex;
    justify-content: center;
    
}
.navbarRight{
    display: flex;
    background-color: deepskyblue;
    border-radius: 5rem;
    height: 35px;
    align-items: center;
    padding-right: 0.2%;
    padding-left: 0.2%;
    
}
.logoBtn{
    background-color: palevioletred;
    border-radius: 5rem;
    padding: 2px;
    font-size: 20px;
    font-family:cursive;
    
}
.logoText{
    border-style:dashed;
    border-radius: 5rem;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px;
}
.navbarLeft ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    
}
.navbarRight ul{
    display: flex;
    list-style: none;
    border-style: dashed;
    border-color: inherit;
    border-radius: 5rem;
    padding: 1px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
   
}
.navbarLeft ul li{
    padding-right: 15px;
    color:inherit;
    font-family: cursive;
    transition: transform 0.5s;
}
.navbarRight ul li{
    padding-left: 20px;
    transition: transform 0.5s;
}

.navbarLeft ul li:hover{
    transform: scale(1.25);
    color: gray;
}
.navbarRight ul li:hover{
    transform: scale(1.2);
}


a{
     text-decoration: none;
     color: inherit;
    font-size: inherit;
}




/* Styling for the search area */

.searchArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width:auto;
    top: 150px;  
}
.searchBarContainer{
    background-color: white;
    border-radius: 5rem
}
.searchBar{
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 5px;
}

.heading1{
    font-family:cursive;
    font-size:2rem;
}

.input{
    border-style: hidden;
    width: 300px;
    
}

.btn{
    width: 30px;
    border-style: hidden;
    background-color: white;
}

.subHeading2{
    font-family: cursive;
    font-size: 20px;
}

.categories ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
.categories ul li{
    width: auto;
    padding: 3px;
    border-radius: 15px;
    margin-left: 5px;
    font-family: cursive;
    font-size: 12px;
    font-weight: bold;
    margin-top: 3px
    
}

#li1{
    background-color: hotpink;
}
#li2{
    background-color: skyblue
}
#li3{
    background-color: yellowgreen;
}
#li4{
    background-color: coral;
}

#catbox{
    border-style: dashed;
    border-color: inherit;
    border-radius: 4rem;
    border-width: 1px;
    padding: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/********** END OF SEARCH AREAR *************/


/********** MAIN BODY *****************/

.siteDescription{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 5%;
    border-style: dashed;
    border-color: lightgray;
    border-width: 1.5px;
    padding: 15px;
    border-radius: 5px;
    
}
#descIcon{
    border-style: dashed;
    border-color: inherit;
    border-radius: 100px;
    padding: 8px;
    border-width: 1.5px;
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 5px;
    
}

.descTitle{
    color: black;
    font-family: cursive;
    padding: 15px;
    font-size: 20px;
}
.descText{
    color: gray;
    text-align: center;
    font-family: cursive;
    font-size: 12.5px;
}
.descIcon1{
    padding: 1px;
    background-color:skyblue;border-radius: 100px;width: 45px;height:45px;
}
.descIcon2{
    padding: 1px;
    background-color:yellowgreen;border-radius: 100px;width: 45px;height:45px;
}
.descIcon3{
    padding: 1px;
    background-color:coral;border-radius: 100px;width: 45px;height:45px;
 
}
.fa{
    transform: scale(1.25)
}


.addDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    width: auto;
    transform: translateY(-50px)
}
.headingDesc{
    font-size: 50px;
    color: black;
    font-family: 'Ma Shan Zheng', cursive;
}
.imgHeart{
    width:60px;height: 60px;
    transform: translateY(10px);
    
}

#addDescText{
    transform: translateY(-25px)
}


/*********recommendation********/
.recommendations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopBtn{
    padding: 3px;
    border-radius: 15px;
    margin-left: 3px;
    font-family: cursive;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    
}


/************ popular***************/

.popular{
    background-image: url(pics/popular-background.jpg);
    background-size: contain;
    width: auto;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headingPopular{
     font-size: 60px;
    font-weight: 300;
    color: black;
    font-family: 'Ma Shan Zheng', cursive;
}
.text{
    color: black;
    font-family: cursive;
    transform: translateY(-60px);
}
.popularCat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.catBody{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:110px;
    height: 170px;
    margin-left: 13px;
    margin-right: 13px;
    padding: 10px;
   margin-top: 10px;
   margin-bottom: 50px;
   transition: transform 0.5s;
}
.catBody1{
    background-color:lightpink;
}
.catBody2{
    background-color: peachpuff;
}
.catBody3{
    background-color: lightgray;
}
.catBody4{
    background-color: springgreen;
}

.catDesc{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
.catDesc img{
    width: 100px;
    height: 150px;
}
.catText{
    font-family: cursive;
    color: black;
    font-stretch: extra-expanded;
    font-size: 15px;
}

.catBody:hover{
    transform: scale(1.1)
}


.arrivalsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/****************   PRODUCT LINEUP STYLES   ************************/
.productLineup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 80%;
    margin-bottom: 20px;
    
}
.product{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    width:150px;
    height:235px;
    margin: 15px;
    transition: transform 0.5s;
}
.product:hover{
    transform: scale(1.1);
}
.productImg{
    background-position: top;
    position: relative;
    height: 210px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 5px;
}
.productName{
    color: black;
    font-family: cursive;
    align-items: center;
}
.productPrice{
    color: skyblue;
    font-family: cursive;
}




/********** footer   *************/


footer{
    background-color: skyblue;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
}


.footer-text{
    text-transform: uppercase;
    font-family: cursive;
    font-size: 8px;
    color: black;
    margin-bottom: 10px;

}
.footer-icons{
    font-size: 30px;
}
.footer-icons .fab{
    margin-right: 10px;
    color: black;
    transition: transform 2s;
}

.footer-icons .fab:hover{
    caption-side: #e6af2e;
    transform: translateY(-15px);
}